* {
  font-family: "League Spartan", sans-serif;
}
body {
  background: url("images/bg-pattern-top-desktop.svg"),
    url("images/bg-pattern-bottom-desktop.svg") right 0 bottom 50px,
    hsl(0, 0%, 100%);
  background-repeat: no-repeat;
}

.main {
  margin: 100px;
}
.head {
  display: flex;
  justify-content: space-around;
  margin-block-end: 2em;
}
.text h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 50px;                       /* this is for size of 5000 */
  margin-block-start: 0;
  margin-inline-end: 2em;
}
.text p {
  font-weight: 700;
  color: hsl(0, 85%, 3%);                       /* this is for discription*/
  opacity: 0.8;
  font-family: 'Open Sans', sans-serif;
}
.rating-box:nth-of-type(1) {
  width: 350px;
  color: hsl(300, 43%, 22%);
  background-color: hsl(300, 24%, 96%);
  display: flex;
  padding-left: 10px;
  font-weight: 700;
  padding-right: 10px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.rating-box:nth-of-type(2) {
  width: 350px;
  color: hsl(300, 43%, 22%);
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: 700;
  padding-right: 10px;
  justify-content: space-between;
  border-radius: 10px;
  margin-left: 20px;
  background-color: hsl(300, 24%, 96%);
}
.rating-box:nth-of-type(3) {
  width: 350px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 40px;
  background-color: hsl(300, 24%, 96%);
  padding-left: 10px;
  padding-right: 10px;
}
.rating-box img {
  width: 17px;      /* star size */
  height: 16px;
}
.rating-box p {
  padding-left: 10px;            /* star box size */
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;              /* this is for space b/w the reviwe box*/
}
.testimonial {
  background-color: rgba(196,189,177,0.17);
  border-radius: 15px;
  padding: 20px;             /* this  is for  back ground color of box*/
  font-weight: 400;
}
.testimonial p {
  color: rgba(23,23,23,.8);
  font-weight: 400;
  line-height: 1.5;         /* this is for text color */
  opacity: 0.9;
}
.user-info {
  display: flex;
}
.user-info img {
  width: 60px;     /*this is for the photo*/
  height: 60px;
  border-radius: 50%;
}
.user-info h4 {
  margin-block-start: 0.5em;
  margin-block-end: 0;
  margin-inline-start: 1em;          /* this  is for  user name */ 
  color: rgba(23,23,23,.8);
}
.user-info p {
  margin-inline-start: 1em;
  margin-block-start: 0.5em;
  color: hsl(333, 80%, 67%);           /* this is for verify buyer*/
}
.testimonial:hover {
  transform: translateY(10px);
}

@media (max-width: 450px) {
  body {
    background: url("images/bg-pattern-top-mobile.svg"),
      url("images/bg-pattern-bottom-mobile.svg") right 0 bottom 50px,
      hsl(0, 0%, 100%);
    background-repeat: no-repeat;
  }
  .main {
    margin: 10px;
  }
  .head {
    flex-wrap: wrap;
  }
  .rating-box:nth-of-type(1) {
    flex-direction: column;
    padding-top: 10px;
  }
  .rating-box:nth-of-type(2) {
    margin-left: 0;
    padding-top: 10px;
    flex-direction: column;
  }
  .rating-box:nth-of-type(3) {
    margin-left: 0;
    padding-top: 10px;
    flex-direction: column;
  }
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
